@charset "UTF-8";

:root {
    --cor-fundo: #93e0996c;;
}

* {
    font-family: monospace;
}

body {
    background-color: var(--cor-fundo);
}

table {
    text-align: center;
    border-collapse: collapse;
}

td {
    border: 1px solid rgba(0, 0, 0, 0.379);
    padding: 3px;
}

th {
    background-color: var(--cor-fundo);
    padding: 5px;
    font-size: 1.4rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.134);
}

td {
font-size: 1.3em;
}

tr:nth-child(even) {
    background-color: rgba(228, 228, 228, 0.555);
}

tr:nth-child(odd) {
    background-color: white;
}

div#tabela {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}